.App {
  text-align: center;
}

.App-content-container {
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  float: center;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.App-news {
  width: full;
  height: 300px;
  margin: 40px;
  background-color: #303030;
}

.App-game {
  width: full;
  height: 100px;
  margin: 20px 40px 20px 40px;
  background-color: #303030;
}
